.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    width: 100%;
    height: 100vh;
    background-color: rgba(black, 0.9);
    pointer-events: none;
    opacity: 0;
    z-index: 1;
    transition: all 0.5s;

    &_visible {
        opacity: 1;
        pointer-events: all;
    }


    .tracksPopup {
        width: calc(100% - 96px*2);
        margin: auto;
        margin-top: 48px;
        height: calc(100vh - 96px*2);
        display: flex;
        flex-direction: column;
        color: white;
        z-index: 3;

        .popupHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 48px;
            min-height: 48px;
            border: solid 1px rgba(white, 0.8);

            .searchIcon {
                padding: 8px;
                width: 48px;
                height: 48px;
            }

            .searchInput {
                background-color: transparent;
                border: none;
                outline: none;
                height: 48px;
                padding: 8px 12px;
                padding-left: 0;
                text-transform: uppercase;
                width: 100%;
                color: white;
            }

            .vue {
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 96px;
                height: 48px;

                .vueButton {
                    display: flex;
                    width: 48px;
                    height: 48px;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    border-left: 1px solid rgba(white, 0.8);
                    background-color: transparent;
                    color: white;
                    transition: all 0.2s;

                    &:hover {
                        background-color: rgba(white, 0.1);
                    }

                    &.active {
                        background-color: white;
                        color: black;

                        &:hover {
                            background-color: rgba(white, 0.8);
                            color: black;
                        }
                    }
                }
            }

            .closeButton {
                border-left: 1px solid rgba(white, 0.8);
                color: white;
                cursor: pointer;
                min-width: 48px;
                height: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.2s;

                &:hover {
                    background-color: rgba(rgba(white, 0.8), 0.1);
                }
            }
        }

        .tracksList {
            overflow-y: auto;
            padding: 0 48px 48px 48px;
            margin-top: 48px;
            flex: 1;
        }

        .header {
            position: sticky;
            display: flex;
            color: gray;
            background-color: rgba(black, 0.8);
            border-bottom: solid 1px gray;
            padding: 10px;
            top: 0;

            .order {
                width: 10%;
            }

            .title {
                width: 50%;
            }

            .duration {
                width: 20%;
            }
        }

        .tracksGrid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            grid-template-rows: max-content;
            gap: 12px;
            padding: 48px;
            padding-top: 64px;
            width: 100%;
            flex: 1;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
}