.audioDisplay {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(2, max-content) 1fr max-content;
    grid-template-rows: auto;
    align-items: center;
    gap: 24px;
    padding: 8px 12px;
    padding-left: 8px;
    left: 48px;
    bottom: 48px;
    width: calc(100% - 48px *2);
    height: 49px;
    border-top: 1px solid rgba(white, 0.8);
    background-color: rgba(black, 0.8);
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s;
    transform: translateY(100%);

    .details {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;

        .cover {
            display: block;
            height: 36px;
            width: 36px;
            border-radius: 5px;
            margin: -4px 0;
        }

        .artist {
            color: gray;
        }
    }

    .progressBar {
        height: 4px;
        background-color: rgba(white, 0.2);

        .progress {
            height: 100%;
            width: 0;
            background-color: white;
        }
    }

    .actions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        .repeatButton, .playButton  {
            margin: 0;
            padding: 0;
            color: white;
            background-color: transparent;
            border: none;
            padding: 4px;
            margin: -4px 0;
            border-radius: 5px;
            transition: all 0.2s;

            &:hover {
                background-color: rgba(white, 0.2);
            }
            &.active {
                background-color: white;
                color: black;
            }
        }
    }



    &.active {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);
    }
}

@media (max-width: 770px) {
    .audioDisplay {
        width: 100%;
        left: 0;
        grid-template-columns: max-content 1fr auto;
        grid-template-rows: repeat(2, 32px);
        grid-template-areas:
            "a p b"
            "d d d";
        height: 96px;
        gap: 16px 24px;

        .details {
            grid-area: d;
            justify-content: flex-start;
            padding-right: 56px;
            
            span {
                overflow: hidden;
                width: 100%;
            }
        }

        .actions {
            grid-area: a;
        }

        .progressBar {
            grid-area: p;
        }


    }
}