@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

:root {
  --white: #fff;
}

html {
  background-color: black;
}

body {
  margin: 0;
  overflow: hidden;
}

.play {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  padding: 10px 0;
  margin: auto;
  width: 100px;
  z-index: 2;
}

button {
  cursor: pointer;
}
